<link rel="import" href="node_modules/@polymer/polymer/polymer.html">

<link rel="import" href="node_modules/scram-express/scram-express-app.html">
<link rel="import" href="node_modules/scram-express/scram-express-middleware.html">

<dom-module id="app-component">
    <template>
        <scram-express-app port="8000">
            <scram-express-middleware method="get" path="/" callback="[[indexController]]"></scram-express-middleware>
            <scram-express-middleware method="get" path="/1" callback="[[indexController]]"></scram-express-middleware>
            <scram-express-middleware method="get" path="/2" callback="[[indexController]]"></scram-express-middleware>
            <scram-express-middleware method="get" path="/3" callbacks="[[callbacks]]"></scram-express-middleware>
            <scram-express-middleware callback="[[errorHandler]]"></scram-express-middleware>
        </scram-express-app>
    </template>

    <script>
        class AppComponent {

            beforeRegister() {
                this.is = 'app-component';
                this.properties = {
                };
            }

            ready() {
                this.indexController = (req, res) => {
                    res.send('I think it is working, my friend');
                };

                this.callbacks = [
                    (req, res, next) => {
                        console.log('callback 1');
                        next();
                    },
                    (req, res) => {
                        console.log('callback 2');
                        res.send('Finished');
                    }
                ];

                this.errorHandler = (req, res) => {
                    res.status(404);
                    res.send('Not found my friend!');
                };
            }

            attached() {}
            detached() {}
            attributeChanged() {}
        }

        Polymer(AppComponent);
    </script>
</dom-module>
