<link rel="import" href="../../node_modules/@polymer/polymer/polymer.html">

<dom-module id="scram-http-server">
    <template>
        <div>Express app listening on port [[port]]</div>
        <content></content>
    </template>

    <script>
        class ScramHttpServerComponent {

            beforeRegister() {
                this.is = 'scram-express-app';
                this.properties = {
                    port: {
                        type: Number
                    }
                };
            }

            ready() {
                const express = require('express');
                const app = express();
                const port = this.port;

                app.listen(port, () => {
                    console.log(`app listening on port: ${port}`);
                });

                //TODO bad, but I don't know how to share object references with child elements yet
                window.expressApp = app;
            }

            attached() {}
            detached() {}
            attributeChanged() {}
        }

        Polymer(ScramHttpServerComponent);
    </script>
</dom-module>
